* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.top {
    height: 800px;
    background-color: #E1FF8F;
    background-image: url('img/Group_star.png'), url('img/Star_2.png'), url('img/Star_3.png'), url('img/Star_4.png'), url('img/Star_5.png');
    background-repeat: no-repeat;
    background-position:
        top 0px right 0px,
        top 94px left 63px,
        top 69px left 156px,
        top 568px left 1013px,
        top 538px left 948px;
}

.header {
    display: flex;
    justify-content: center; 
    padding: 196px 551px 246px 120px;
    gap: 48px;
    flex-wrap: wrap;

    &__title {
        font-size: 64px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
    }

    &__button {
        width: 247px;
        height: 66px;
        border-radius: 60px;
        border: 1px solid #202027;
        font-size: 24px;
        font-weight: 600;
        color: #FFFFFF;
        background-color: #202027;
        text-align: center;
        display: inline-block;
        padding: 16px 28px 16px 28px;
        cursor: pointer;

        &:hover {
            background-color: #FFFFFF;
            color: #202027;
        }
    }
}

.mini-games {
    background-color: #202027;
    background-image: url('img/Star_1.png'), url('img/Star_11.png'), url('img/Star_12.png');
    background-repeat: no-repeat;
    background-position:
        top 77px right 0px,
        top 770px left 25px,
        top 822px left 40px;
    height: 1470px;
}

.about {
    padding: 94px 120px 72px 119px;

    &__title {
        font-size: 64px;
        font-weight: 700;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        color: #FFFFFF;
    }
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    padding: 0px 120px 50px 119px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 100%;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
    transition: transform 0.3s ease;
    margin-bottom: -32px;

    &:hover {
        transform: scale(1.10);
    }

    &__link {
        display: inline-block;
    }

    &__img {
        max-width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 32px 36px 32px;
    }

    &__number {
        border-radius: 52px;
        background-color: #F7F7F7;
        width: 108px;
        height: 36px;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 16px 10px 16px;
        color: #202027;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: #202027;
    }

    &:nth-child(5) {
        margin-top: 40px;
    }
}

.play {
    background-color: #202027;
    padding: 46px 121px 144px 119px;
    background-image: url('img/Star_6.png'), url('img/Star_7.png'), url('img/Star_8.png'), url('img/Star_10.png');
    background-repeat: no-repeat;
    background-position:
        top 126px left 1326px,
        top 93px left 1281px,
        top 3366px right 52px,
        top 3414px right 150px;

    &__title {
        font-size: 64px;
        font-weight: 700;
        color: #FFFFFF;
    }
}

.play-games {
    margin-top: 72px;
}

.game {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px #00000021;
    width: 1200px;
    height: 500px;

    &:nth-child(odd) {
        flex-direction: row;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    &__info {
        flex: 1;
        margin: 48px 48px 203px 48px;
    }

    &__title {
        color: #202027;
        font-size: 48px;
        font-weight: 700;
    }

    &__text {
        color: #202027;
        font-size: 24px;
        font-weight: 400;
        margin-top: 24px;
    }

    &__button {
        margin-top: 36px;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: #202027;
        font-size: 24px;
        font-weight: 600;
        color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
            color: #202027;
        }
    }

    &__img {
        max-width: 600px;
        height: auto;
    }
}

.footer {
    height: 150px;
    background-color: #BDED35;

    &__title {
        font-size: 24px;
        font-weight: 600px;
        color: #000000;
        text-align: center;
        padding-top: 61px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 17px;
        padding-right: 16px;
    }

    .top {
        height: 700px;
        background-image: url('img/star_mob.png'), url('img/Star_2_mob.png'), url('img/Star_3_mob.png'), url('img/Star_4_mob.png'), url('img/Star_5_mob.png');
        background-position:
            top 0px right 0px,
            top 64px left 91px,
            top 97px left 37px,
            top 580px left 303px,
            top 557px left 272px;
    }

    .header {
        gap: 0px;
        padding: 147px 16px 182px 17px;


        &__title {
            font-size: 40px;
            text-align: center;
            margin-bottom: 24px;
        }

        &__subtitle {
            font-size: 16px;
            text-align: center;
            margin-bottom: 36px;
            max-width: 296px;
        }

        &__button {
            width: 285px;
            height: 60px;
            font-size: 16px;
        }
    }

    .mini-games {
        display: none;
    }

    .play {
        background-color: #202027;
        padding: 48px 16px 48px 16px;
        background-image: none;

        &__title {
            font-size: 40px;
        }
    }

    .play-games {
        margin-top: 48px;
    }

    .game {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 100%;
        height: auto;

        &:nth-child(odd),
        &:nth-child(even) {
            flex-direction: column;
        }

        &__info {
            flex: 1;
            align-items: center;
            margin: 29px 29px 32px 29px;
        }

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 16px;
            margin-top: 20px;
        }

        &__button {
            margin-top: 36px;
            width: 285px;
            height: 45px;
            font-size: 16px;
            font-weight: 600;
        }

        &__img {
            order: -1;
            max-width: 100%;
            height: auto;
        }
    }

    .footer {
        height: 100px;

        &__title {
            font-size: 16px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}